
body {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 70px;
}

.max-viewport {
  min-height: 100vh;
}

.transparent {
  background-color: rgba(52, 58, 64, 0.9);
}

#banner,
#contacto,
#social {
  background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/fondo_2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
